<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Dashboard</h1>
        <p>Hoşgeldiniz!</p>
        <p>ilgi Alanlarınız : {{ interests }}</p>

        <!-- Ara formu ekleniyor -->
        <form method="POST" action="{{ url_for('recommend') }}" class="mb-3">
            <div class="form-group">
                <label for="search_query">Makale Ara:</label>
                <input type="text" id="search_query" name="search_query" class="form-control" placeholder="Makale başlığı giriniz...">
            </div>
            <button type="submit" class="btn btn-primary">Ara</button>
        </form>

        <a href="{{ url_for('profile') }}" class="btn btn-primary">Edit Profile</a>
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
